* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  --primary-color: hsl(47, 88%, 63%);
}

section {
  background-color: var(--primary-color);
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Figtree", sans-serif;
}

.card_container {
  background-color: white;
  width: 380px;
  height: 530px;
  border: 2px solid hsl(0, 0%, 7%);
  border-radius: 25px;
  box-shadow: 8px 10px 1px 1px hsl(0, 0%, 7%);
}

.card_container:hover {
  box-shadow: 13px 13px 1px 1px hsl(0, 0%, 7%);
}

.card_container img:nth-of-type(1) {
  width: 380px;
  border-radius: 40px;
  padding: 25px 25px 20px 23px;
}

.card_container h4:nth-child(2) {
  background-color: var(--primary-color);
  font-weight: 800;
  width: 100px;
  margin-left: 27px;
  padding: 7px;
  border-radius: 5px;
  text-align: center;
}

.card_container h4:nth-child(3) {
  font-weight: 600;
  margin: 15px 27px;
}

h1 {
  margin: 20px 27px;
  font-weight: 800;
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 7%);
}

a:hover {
  color: hsl(47, 88%, 63%);
}

p {
  font-size: 600;
  color: hsl(0, 0%, 50%);
  margin: 10px 27px;
  font-size: 16px;
}

.card_container img:nth-of-type(2) {
  width: 35px;
  margin: 20px 10px 20px 20px;
}

span {
  font-weight: 800;
  position: relative;
  bottom: 30px;
}

footer {
  width: 100%;
  height: 96px;
  background-color: var(--primary-color);
}
